section(id="three" class="wrapper style1 fade-up")
	div(class="inner")
		h2 Get in Touch!
		p Phasellus convallis elit id ullamcorper pulvina
		div(class="split style1")
			section
				form(method="post" action="#")
					div(class="fields")
						div(class="field half")
							label Name
							input(type="text" name="name" id="name")
						div(class="field half")
							label Email
							input(type="text" name="email" id="email")
						div(class="field")
							label(for="message") Message
							input(type="text" name="message" id="message" rows="5")
					ul(class="actions")
						li(href="" class="button submit") Send Message
section
	ul(class="contact")
		li
			h3 Address
			span 12345 nowhere
			br 
			| nowhere, KS 
			br 
			| USA
		li
			h3 email
			a(href="#") alfredoadonis3@gmail.com
		li
			h3 phone
			span (818)123-1234
		li
			h3 Social
			ul(class="icons")
				li
					a(href="#" class="icon brands fa-twitter") Twitter
				li
					a(href="#" class="icon brands fa-github") Github
				li
					a(href="#" class="icon brands fa-linkedin-in") LinkedIn
