head
	title Al.G 
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Montserrat:400,700,800&display=swap" rel="stylesheet")
	link(rel="stylesheet" href="/assets/css/main.css")
	noscript
		link(rel="stylesheet" href="/assets/css/noscript.css")
	style
		include ../../assets/css/design.css
