section(id="intro" class="wrapper style1 fullscreen fade-up")
	div(class="inner")
		h1 Alfredo Garcia
		p(id="header-description") Web Developer
		ul(class="actions")
			li
				a(href="#one" class="button scrolly" id="btn-one") Learn More!

section(id="one" class="wrapper style2 spotlights")
	section
		a(href="#" class="image")
			img(src="https://placekitten.com/300/300" alt="" data-position="center center")
		div(class="content")
			div(class="inner")
				h2 weather.a-garcia.com 
				p A simple weather application utilizing JavaScript. Uses Dark Sky's Api for all weather data. 
				ul(class="actions")
					li
						a(href="https://weather.a-garcia.com/" class="button") Preview 
	section
		a(href="#" class="image")
			img(src="https://placekitten.com/400/400" alt="" data-position="top center")
		div(class="content")
			div(class="inner")
				h2 Dev RSS-Feed 
				p A Web Development RSS Feed utilizing PHP & JavaScript to show the new advancements in design. 
				ul(class="actions")
					li
						a(href="https://a-garcia.com/rss-feed/" class="button") Preview 
	section
		a(href="#" class="image")
			img(src="https://placekitten.com/500/500" alt="" data-position="25% 25%")
		div(class="content")
			div(class="inner")
				h2 The Conch 
				p A simple JavaScript application that helps users make random choices more efficient.  
				ul(class="actions")
					li
						a(href="https://a-garcia.com/the-conch.html" class="button") Preview 

	section
		a(href="#" class="image")
			img(src="https://placekitten.com/600/600" alt="" data-position="25% 25%")
		div(class="content")
			div(class="inner")
				h2 MusicPasta.xyz 
				p A simple music blog, with a collection of music articles and a place where I show case what Im currently Listening too.
				ul(class="actions")
					li
						a(href="https://a-garcia.com/the-conch.html" class="button") Preview 
section(id="two" class="wrapper style3 fade-up")
	div(class="inner")
		h2 About Me. 
		p I am a self driven individual who is looking to build more skills in my craft.
		div(class="features")
			section
				span(class="icon solid major fa-laptop-code")
				h3 Skills 
				p HTML | CSS | JavaScript | PHP | MYSQL 
			section
				span(class="icon solid major fa-user-tie")
				h3 Professional Experience 
				ul 
					li Computer Lab Assistant ( 2016 - 2018 )
					li TruckingUnlimited, Marketing / Web Developer ( 2018- Now )
			section
				span(class="icon solid major fa-graduation-cap")
				h3 Education 
				p Bachelors of Science in Computer Information Technology California State University Northridge [2018]
 
			section
				span(class="icon solid major fa-heart")
				h3 Misc.
				p Some of my other passions include Music, Art, Photography and Technology 
		ul(class="actions")
			li
				a(href="generic.html" class="button") Resume 

section(id="three" class="wrapper style1 fade-up")
	div(class="inner")
		h2 Get in Touch!
		p.
			 Freelance work? No prob! Just write me below and ill be sure to contact you Asap. #[br]
			You can always message me to say hello and chat it up, Id love to talk about new Dev-elopments and Music suggestions. #[br]
			Dont feel obligated to reach out to me over email!! If you prefer it, you may reach out via any social media platform I am found on. #[br]
			Thanks For Visiting!!! <3
		div(class="split style1")
			section
				form(method="post" id="myForm")
					div(class="fields")
						div(class="field half")
							label(for="name") Name
							input(type="text" name="name" id="name")
						div(class="field half")
							label(for="email") Email
							input(type="text" name="email" id="email")
						div(class="field")
							label(for="message") Message
							textarea(type="text" name="message" id="message" rows="5")
					ul(class="actions")
						li(href="" class="button submit") Send Message
			section
				ul(class="contact")
					li
						h3 Located In: 
						span Los Angeles, CA 
					li
						h3 Email
						a(href="#") alfredoadonis3@gmail.com
					li
						h3 Phone
						span You have to buy me dinner first ;) 
					li
						h3 Social
						ul(class="icons")
							li
								a(href="https://open.spotify.com/user/gordoisfat?si=OU3D0-7OQlS1iK2BeR753Q" class="icon brands fa-spotify")  
							li
								a(href="https://github.com/AL-G3" class="icon brands fa-github") 
							li
								a(href="www.linkedin.com/in/alfredo-garcia-437579176" class="icon brands fa-linkedin-in") 

