section(id="sidebar")
	div(class="inner")
		nav
			ul
				li
					a(href="#intro") Welcome
				li
					a(href="#one") Projects

				li
					a(href="#two") About 

				li
					a(href="#three") Get In touch 

	
