doctype html
html(lang="en")
	include includes/head.pug

body(class="is-preload")
	include includes/nav.pug

	div(id="wrapper")
		include includes/main.pug

	include includes/footer.pug
	
	script
		include ../assets/js/jquery.min.js
	script
		include ../assets/js/jquery.scrollex.min.js
	script
		include ../assets/js/jquery.scrolly.min.js
	script
		include ../assets/js/browser.min.js
	script
		include ../assets/js/breakpoints.min.js
	script
		include ../assets/js/util.js
	script
		include ../assets/js/main.js




